.env
.fleet
.angular
.devcontainer
.devops
.husky
.vs
.vscode
.idea
.nx
.git
.dapr
node_modules
tmp
dist
bin
Dockerfile*
docker-compose*
.dockerignore

# don't copy these in from the filesystem either
bun.lockb
yarn.lock
